{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'scss/style.css' %}">
  {% if title %}
    <title>Share your books | {{ title }}</title>
  {% else %}
    <title>Share Your books</title>
  {% endif %}
</head>
<body>
  {% include 'blog/_header.html' %}
    <main>
      <section class="section-content">
        <div class="container">
          {% block content %}{% endblock %}
        </div>
      </section>
      {% include 'blog/_pagination.html' %}
    </main>
    {% include 'blog/_footer.html' %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>  
      setTimeout(function() {
        $('#message').fadeOut('slow')
      }, 3000);
    </script>
</body>
</html>