/**
*
* Testing
*
**/
.section-header {
  background: #ffd201;
  height: 93vh;
  clip-path: polygon(0 15%, 0 0, 15% 0, 85% 0, 100% 0, 100% 15%, 100% 71%, 6% 71%, 6% 100%, 0 100%, 0 85%, 0 72%);
  -webkit-clip-path: polygon(0 15%, 0 0, 15% 0, 85% 0, 100% 0, 100% 15%, 100% 71%, 6% 71%, 6% 100%, 0 100%, 0 85%, 0 72%); }
  @media (max-width: 960px) {
    .section-header {
      height: 30vh;
      clip-path: none;
      -webkit-clip-path: none; } }

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 6rem 0 2rem 0; }
  @media (max-width: 960px) {
    .header {
      grid-template-columns: 1fr 3fr;
      padding: 2rem 0; } }
  .header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative; }
    @media (max-width: 960px) {
      .header__logo {
        grid-area: 1 / 1 / 2 / 2;
        justify-content: flex-start; } }
    .header__logo img {
      width: 100px; }
      @media (max-width: 960px) {
        .header__logo img {
          width: 60px; } }
  .header__nav {
    display: flex;
    align-items: center; }
    @media (max-width: 960px) {
      .header__nav {
        grid-area: 1 / 2 / 2 / 3;
        justify-content: flex-end; } }
    @media (max-width: 960px) {
      .header__nav ul {
        display: flex;
        flex-direction: row; } }
    @media (max-width: 414px) {
      .header__nav ul i {
        font-size: 0.6rem; } }
    .header__nav ul a {
      font-size: 1.2rem;
      color: #212529;
      font-weight: bold; }
      @media (max-width: 960px) {
        .header__nav ul a {
          margin-right: 1rem; } }
      @media (max-width: 414px) {
        .header__nav ul a {
          font-size: 0.6rem; } }
  @media (max-width: 960px) {
    .header__title {
      grid-area: 2 / 1 / 3 / 3;
      padding: 1.5rem 0 0 0; } }
  .header__title h2 {
    font-size: 4.6rem;
    line-height: 1.1; }
    @media (min-width: 961px) and (max-width: 1024px) {
      .header__title h2 {
        font-size: 3.6rem; } }
    @media (max-width: 960px) {
      .header__title h2 {
        font-size: 1rem; } }

main {
  position: relative; }

.section-content {
  position: relative;
  top: -46vh; }
  @media (max-width: 960px) {
    .section-content {
      top: -10px; } }

.details {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 6rem; }
  @media (max-width: 768px) {
    .details {
      padding-top: 4rem; } }
  .details__image {
    grid-area: 1 / 1 / 2 / 2;
    position: relative;
    min-height: 400px; }
    .details__image-cover {
      width: 300px;
      height: 400px;
      position: absolute;
      left: 0;
      bottom: 0; }
  .details__title {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative; }
    @media (max-width: 599px) {
      .details__title-content {
        background: #ffd201;
        padding: 0.8rem; } }
    .details__title-content h3 {
      font-size: 1.6rem;
      margin-bottom: 1rem; }
  .details__description {
    grid-area: 2 / 1 / 3 / 3;
    padding-top: 3rem; }
    .details__description p {
      font-size: 1.5rem; }
      @media (max-width: 320px) {
        .details__description p {
          font-size: 1.2rem; } }

.profile {
  display: flex;
  justify-content: center;
  align-items: center; }
  .profile__box {
    background: white;
    padding: 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 50%;
    position: relative;
    border-radius: 10px; }
    @media (max-width: 600px) {
      .profile__box {
        width: 100%; } }
  .profile__top {
    z-index: 2;
    position: relative;
    width: 150px;
    margin-bottom: 10px; }
    .profile__top h2:before {
      content: '';
      position: absolute;
      top: 20px;
      left: 0;
      width: 100%;
      background: #ffd201;
      height: 6px;
      z-index: -1;
      transition: all .2s ease-in-out; }
  .profile__content {
    display: flex;
    justify-content: center;
    width: 100%; }
    .profile__content-image {
      flex: 1;
      width: 100%; }
      .profile__content-image img {
        border: 6px solid #ffd201; }
    .profile__content-info {
      flex: 2;
      text-align: center; }

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem; }
  @media (min-width: 601px) {
    .cards {
      grid-template-columns: repeat(2, 1fr); } }
  @media (min-width: 901px) {
    .cards {
      grid-template-columns: repeat(3, 1fr); } }

.card {
  background-color: #fff;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative; }
  .card__content {
    padding: 1.5rem;
    color: white;
    position: relative;
    min-height: 200px; }
    .card__content-title {
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.125;
      margin-bottom: 1rem; }
    .card__content-subtitle {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.25; }
  .card__footer {
    background-color: transparent;
    border-top: 1px solid #ededed;
    align-items: stretch;
    display: flex;
    position: relative; }
    .card__footer-item {
      align-items: center;
      display: flex;
      flex-basis: 0;
      flex-grow: 1;
      flex-shrink: 0;
      padding: .75rem;
      font-size: 0.9rem;
      font-style: italic;
      color: #999; }
      .card__footer-item:not(:last-child) {
        border-right: 1px solid #ededed; }
    .card__footer-avatar {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%; }
    .card__footer-user {
      margin-left: 1rem; }
    .card__footer-cover {
      width: 50px;
      height: 100px;
      position: absolute;
      left: 0;
      bottom: 0; }

.section-footer {
  padding: 2rem 0;
  background: #ffd201; }

.footer {
  display: flex;
  justify-content: space-around; }
  .footer__social ul {
    display: flex;
    flex-direction: row; }
    .footer__social ul li {
      margin-right: 1rem; }
      .footer__social ul li i {
        font-size: 1.6rem;
        color: #212529;
        transition: all 1s; }
        .footer__social ul li i:hover {
          transform: scale(2); }

.color:nth-of-type(2n+1) {
  background-color: #00d1b2; }

.color:nth-of-type(2n+2) {
  background-color: #f5afc7; }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }
  @media (min-width: 1366px) {
    .container {
      width: 1140px; } }

.btn {
  cursor: poiner;
  display: inline-block;
  border: 0;
  padding: 0.625rem 1.25rem; }
  .btn:hover {
    opacity: 0.9; }

.btn {
  background: #f35588;
  color: white; }

.details__image-cover, .card__footer-avatar, .card__footer-cover {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  user-select: none;
  justify-content: center; }
  .details__image-cover img, .card__footer-avatar img, .card__footer-cover img {
    color: transparent;
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center; }

.flex-end {
  justify-content: flex-end; }

.home-back {
  position: absolute;
  top: 20px;
  right: 15px; }
  .home-back i {
    font-size: 2rem;
    color: #212529;
    transition: all 1s; }
    .home-back i:hover {
      transform: scale(2); }

.notification {
  border-radius: 4px;
  padding: 0.4rem;
  position: relative; }
  .notification.is-success {
    background-color: #48c774;
    color: #fff; }
  .notification.is-danger {
    background-color: #f14668;
    color: #fff; }

.form-group {
  margin-bottom: 1rem; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }

.text-muted {
  color: #6c757d; }

.form-text {
  display: block;
  margin-top: .25rem; }

small {
  font-size: 80%;
  font-weight: 400; }

.form-control-file, .form-control-range {
  display: block;
  width: 100%; }

.danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545; }

.light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa; }

.nav_pagination {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 960px) {
    .nav_pagination {
      position: relative;
      margin-top: 50px; } }

.pagination {
  margin-top: .5rem;
  margin-bottom: .5rem; }

.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center; }

.page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #00d1b1;
  background-color: #fff;
  border: 1px solid #dee2e6; }

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem; }

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6; }

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #f35588;
  border-color: #f35588; }

.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545; }

.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem); }

.form-control.is-invalid ~ .invalid-feedback, .form-control.is-invalid ~ .invalid-tooltip, .was-validated .form-control:invalid ~ .invalid-feedback, .was-validated .form-control:invalid ~ .invalid-tooltip {
  display: block; }

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .form__box {
    background: white;
    padding: 2rem;
    width: 100%;
    position: relative; }
    .form__box-title {
      z-index: 2;
      position: relative;
      width: 150px;
      margin-bottom: 10px; }
      .form__box-title h2:before {
        content: '';
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        background: #ffd201;
        height: 6px;
        z-index: -1;
        transition: all .2s ease-in-out; }
  .form__input {
    position: relative;
    height: 60px;
    overflow: hidden;
    margin-bottom: 15px; }
    .form__input input {
      width: 100%;
      height: 100%;
      padding-top: 20px;
      border: none;
      outline: none;
      font-size: .9rem; }
      .form__input input:focus + label span,
      .form__input input:valid + label span {
        transform: translateY(-150%);
        color: #ccc; }
      .form__input input:focus + label::after,
      .form__input input:valid + label::after {
        transform: translateX(0%); }
    .form__input label {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid #ddd; }
      .form__input label:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        border-bottom: 3px solid #ffd201;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform .3s ease; }
      .form__input label span {
        position: absolute;
        bottom: 5px;
        left: 0;
        transition: all .3s ease;
        color: #999; }
  .form__btn {
    margin-top: 30px; }
  .form__link {
    font-size: .8rem;
    color: #999;
    margin-top: 10px; }
    .form__link a {
      color: #f35588; }
  .form__passforget {
    margin-top: 5px; }
    .form__passforget a {
      font-size: .8rem;
      color: #ffd201; }
  .form__content {
    display: flex;
    justify-content: center; }
    .form__content-image {
      flex: 1;
      width: 100%; }
    .form__content-info {
      flex: 2;
      text-align: center; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  background-color: white;
  color: #212529;
  font-size: 16px;
  line-height: 1.6; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

img {
  width: 100%; }

h1, h2, h3 {
  font-family: "Oswald"; }
