{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="form">
  <div class="form__box">
    <div class="form__box-title">
      <h2>Reset</h2>
    </div>
      
    <div style="margin-top: 20px;">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          {{ form|crispy }}
        </div>
        <div class="form__btn">
          <button class="btn" type="submit">Reset Password</button>
        </div>
      </form>
    </div>



  </div>
  <div class="home-back">
    <a href="{% url 'blog-home' %}"><i class="fas fa-arrow-left"></i></a>
  </div>

</div>

{% endblock content %}