{% extends 'blog/base.html' %}

{% block content %}

<form  action="{% url 'register' %}" method="POST">
  {% csrf_token %}

<div class="form">
  <div class="form__box">
    <div class="form__box-title">
      <h2>Join Today</h2>
    </div>
    {% include 'blog/_alerts.html' %}
    <div class="form__input">
      <input type="text" name="username" autocomplete="off" required />
      <label for="" >
        <span>Username*</span>
      </label>
    </div>
    <div class="form__input">
      <input type="email" name="email" autocomplete="off" required />
      <label for="" >
        <span>Email*</span>
      </label>
    </div>
    <div class="form__input">
      <input type="password" name="password" autocomplete="off" required />
      <label for="" >
        <span>Password*</span>
      </label>
    </div>
    <div class="form__input">
      <input type="password" name="confirm_password" autocomplete="off" required />
      <label for="" >
        <span>Password Confirmation*</span>
      </label>
    </div>
    <div class="form__btn">
      <button type="submit" class="btn">Sign Up</button>
    </div>
    <div class="form__link">
      <span>Already Have An Account?</span>
      <a href="{% url 'login' %}">Sign In</a>
    </div>
  </div>
  <div class="home-back">
    <a href="{% url 'blog-home' %}"><i class="fas fa-arrow-left"></i></a>
  </div>
</div>
</form> 


{% endblock content %}